@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;0,800;1,500;1,600;1,700&display=swap');

*{
    margin:0;
    padding:0;
    font-family:'Poppins', sans-serif;
    box-sizing: border-box;
}

.Icon{
    width: 10px;
    height: 10px;
}

.Header{
    padding-top: 0.5px;
    height: 10vh;
    width: 100%;
    background-color: rgb(231, 231, 231);
    background-position: center;
    background-size: cover;  
}

@media(max-aspect-ratio:16/9){
    .Header{
        width: 100%;
        height: auto;
    }
}

.navbar{
    padding-top: 3%;
    height: 20%;
    display: flex;
    align-items: center;
    padding-left:10%;
    padding-right: 10%;
    box-sizing: border-box;
}

.logo{
    width: 180px;
    cursor: pointer;
}


nav{
    flex: 1;
    text-align: right;

}


nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 30px;
}
.Login{
    width: 100px;
    height: 40px;
    background-color: #423E3A;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    color: #ffffff;
    margin-left: 40px;
    outline: none;

}
.Login:hover{
    background-color: #008080;
}

nav ul li a.Explore{
    position: relative;
    text-decoration: none;
    color: #423E3A;
    font-size: 18px;
    display: inline-block;
}

nav ul li a.Explore:hover::after{
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 1;
    width: 100%;
    height: 2px;
    background-color:#008080;
}

nav ul li a.Blog{
    position: relative;
    text-decoration: none;
    color: #423E3A;
    font-size: 18px;
    display: inline-block;
}

nav ul li a.Blog:hover::after{
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 1;
    width: 100%;
    height: 2px;
    background-color:#008080;
}


nav ul li a.Testimonies{
    position: relative;
    text-decoration: none;
    color: #423E3A;
    font-size: 18px;
    display: inline-block;
}

nav ul li a.Testimonies:hover::after{
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 1;
    width: 100%;
    height: 2px;
    background-color:#008080;
}

.main{ 
    background-color: rgb(255, 255, 255); 
    width: 100%;
    height:90%;
    overflow: hidden;
}

@media(min-aspect-ratio:16/9){
    .main{
        width: 100%;
        height: auto;
    }
}

@media(max-aspect-ratio:16/9){
    .main{
        width: 100%;
        height: auto;
    }
}

.Back-video{
    top: 0%;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media(min-aspect-ratio:16/9){
    .Back-video{
        width: 100%; 
        height: auto;
    }
}

@media(max-aspect-ratio:16/9){
    .Back-video{
        width: 100%;
        height: auto;
    }
}

.Tagline{
    display: inline-block;
    color: #ffffff;
    top: 250px;
    left: 10%;
    position: absolute;
    z-index: 2;
    font: 2em sans-serif;
    align-items: left;
    justify-content: space-between;
    display: flex;
    transform:translate(-50, -50);
    z-index: 2;
}
.Intro-Container{
    background-color: rgb(255, 255, 255); 
    width: 100%;
    height:30vh;
    display: flex;
        
}

@media(min-aspect-ratio:16/9){
    .Intro-Container{
        width: 100%;
        height: auto;
    }
}
@media(max-aspect-ratio:16/9){
    .Intro-Container{
        width: 100%;
        height: auto;
    }
}

.Rectangle-blue-colour{
    background-color: #9b9b9b;
    height: 20vh;
    width: 33.3%;
    box-shadow: 0 0 3px rgb(0,0,0,0.7) ;

}
.Rectangle-brown-colour{
    background-color: #008080;
    height: 20vh;
    width: 33.3%;
    box-shadow: 0 0 3px rgb(0,0,0,0.7) ;
}
.Rectangle-grey-colour{
    background-color:rgb(231, 231, 231);
    height: 20vh;
    width: 33.4%;
    box-shadow: 0 0 3px rgb(0,0,0,0.7) ;
}
.main .Registration_form{
    display: flex;
    position: absolute;
    top: 450px;
    left: 80%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 400px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    backdrop-filter: blur(8px);
    box-shadow: 0 0 3px rgb(0,0,0,0.5);
    justify-content: center;
    align-items: center;
    overflow: hidden;
   

}
.Registration_form .Form_login{
    width: 500px;
    position: relative;
    padding: 50px;
    

}
.Form_login h2{
    font-size: 2em;
    color: #423E3A;
    text-align: center;
}
.input_box{
    position: relative;
    width: 100%;
    height: 40px;
    border-bottom: 2px solid #423E3A; 
    margin: 30px 0;
}
.input_box label{
    position: absolute;
    left: 5px;
    transform: translateY(-50);
    font-size: 1em;
    color: #272727;
    font-weight: 500;
    pointer-events: none;
    transition: .10s;

}

.input_box input:focus~label,
.input_box input:valid~label{
    top: -18px;

}
.input_box input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    background:#ffffff;
    font-size: 1em;
    color:#423E3A ;
    font-weight: 500;
    
}

.input_box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    line-height: 57px;

}
.remember-forgot{
    font-size: 16px;
    color:#ffffff;
    font-weight: 500;
    margin: -15px 0 15;
    display: flex;
    justify-content: space-between;
}
.remember-forgot label input{
    accent-color:#423E3A;
    margin-right:3px ;
}
.remember-forgot a{
    color: #0b07ff;
    text-decoration: none;
}
.btn{
    width: 40%;
    height: 40px;
    align-items: center;
    margin-left: 30%;
    background-color:#008080;
    color: #ffffff;
    font-size:15px;
    border-radius: 5px;
    outline: none;
    border:none;
    cursor: pointer;
    top: 50px;
    margin-top: 5%;
}
.btn:hover{
    background-color:#423E3A;
}
.login-register{
    color: #ffffff;
    justify-content: space-between;
    padding-top: 10%;
}
.Register-Link{
  color:#0b07ff;
  padding-left: 10%;
  font-weight: 500;
  text-decoration: none;
}

.closeIcon{
    background-color: #272727;
    position: absolute;
    width: 35px;
    height: 35px;
    top:0;
    right: 0;
    font-size: 2em;
    justify-content: center;
    Color: #ffff;
    display: flex;
    align-items: center;
    border-bottom-left-radius:20px;
    cursor: pointer;
    z-index: 1;
    /*overflow: hidden;*/
}


